version: "3"

services:
  nginx:
    container_name: nginx
    networks:
      - inception
    depends_on:
      - wordpress
    build: 
      context: requirements/nginx
      dockerfile: Dockerfile
    env_file: .env
    volumes:
      - type: volume
        source: mariadb
        target: /var/lib/mysql
    ports:
      - "8000:443"
    restart: unless-stopped

  mariadb:
    container_name: mariadb
    networks:
      - inception
    build: 
      context: requirements/mariadb
      args:
        MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
        MARIADB_USER: ${MARIADB_USER}
        MARIADB_PASSWORD: ${MARIADB_PASSWORD}
        MARIADB_DATABASE: ${MARIADB_DATABASE}
      dockerfile: Dockerfile
    env_file: .env
    volumes:
      - type: volume
        source: mariadb
        target: /var/lib/mysql
    restart: unless-stopped
  
  wordpress:
    container_name: wordpress
    env_file: .env
    volumes:
      - type: volume
        source: wordpress
        target: /var/www/html
    networks:
      - inception
    build: 
      context: requirements/wordpress
      dockerfile: Dockerfile
    depends_on:
      - mariadb
    restart: unless-stopped

networks:
  inception:
    driver: bridge

volumes:
  mariadb:
  wordpress:

